{% from "govuk/components/footer/macro.njk" import govukFooter -%}
{{
govukFooter({
    meta: {
        items: [
            {
                href: config.ingressUrl + '/feedback-and-support',
                text: "Feedback and support"
            },
            {
                href: config.ingressUrl + '/terms-and-conditions',
                text: "Terms and conditions"
            }
        ]
    },
    classes: "govuk-!-display-none-print"
})
}}
