{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/css/index.css?{{ version }}" rel="stylesheet"/>
  <link href="/assets/css/header.css?{{ version }}" rel="stylesheet"/>
  <link href="/assets/css/footer.css?{{ version }}" rel="stylesheet"/>

  <script src="/assets/js/header.js?{{ version }}"></script>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/js/index.js"></script>
{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}
