{%- from "moj/components/domain-specific/probation/header/macro.njk" import pdsHeader -%}

{{ pdsHeader({
    environmentName: environmentName,
    environmentNameColour: environmentNameColour,
    name: user.displayName | initialiseName,
    manageDetailsLink: manageDetailsLink,
    servicesLink: servicesLink,
    services: services,
    titleLink: titleLink
  }) }}
  
